.Projects {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    z-index: 10;
    background-color: white;

    h2{
        font-size: 2rem;
        padding: 4rem;
    }

    .cardDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}