.skills {
    background-color: rgb(199, 199, 199);
    padding-bottom: 6rem;

    .container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;

        h2 {
            padding: 4rem;
            font-size: 2rem;
        }

        .icons{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            > * {
                margin: 1rem;
            }
        }
    }
    
}