.Contact {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    h2 {
        font-size: 2rem;
        padding: 4rem 4rem 3rem 4rem;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2vw;
                padding-bottom: 1rem;
                width: 100%;

                input {
                    width: 30vw;
                    height: 2rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    @media only screen and (max-width : 993px) {
                        width: 100%
                    }
                }
                
                textarea {
                    width: 30vw;
                    height: 10rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    padding-top: 0.4rem;
                    resize: none;
                    @media only screen and (max-width : 993px) {
                        width: 100%
                    }
                }
            }
            .submitButton {
                height: 3rem;
                width: 9rem;
                font-size: 1.2rem;
                border-radius: 2rem;
                border-color: grey;
                cursor: pointer;
                border-style: solid;
            }
        }

        .contactInfo {
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(50px, 5);
            gap: 1rem;

            div {
                display: flex;
                align-items: center;
                font-size: 1.3rem;

                a{
                    border-bottom: 1px dotted #000;
                    cursor: pointer;
                    font-size: 1.2rem;
                }
                &:nth-child(odd) {
                    justify-content: center;
                }
            }
        }

        .emailCard {
            border-radius: 0.5rem;
            padding: 2rem;
            background-color: rgb(199, 199, 199);
            margin-bottom: 4rem;
        }

        h3 {
            font-size: 1.5rem;
            padding-bottom: 1rem;
            text-align: center;
        }
    }
}