// .footer {
//     // justify-content: center;
//     // margin-left: auto;
//     // margin-right: auto;
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
//     justify-content: space-around;
//     width: 100%;
//     background-color: rgb(99, 99, 99);
//     min-height: 100px;
//     align-items: center;

//     .social-media {

//     }

// }

.footer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    min-height: 12rem;
    background-color: rgb(87, 87, 87);

    width: 100%;

    > div {
        margin: 2rem 0 0 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .left {
        // margin: 2rem 0 0 4rem;
        

        h3 {
            margin: 1rem 0 0 0;
        }
    }

    .right {
        // margin: 2rem 0 0 4rem;
        .social-media {
            margin: 1rem 0 0 0;
            height: 100px;
            
            a {
                padding: 0 1rem 0 0;
                text-decoration: none;
                color: black;
                width: 5rem;
                height: 5rem;
            }
        }
    }

}